<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	{%load staticfiles%}
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
		integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static 'style/style.css' %}">



	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap.min.js"></script>


	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://kit.fontawesome.com/735bfd37ee.js" crossorigin="anonymous"></script>
	<!-- for nav -->
	<!-- <link rel="stylesheet" href="bootstrap.404e2a97cc5c.css" type="text/css" media="all"> -->
	<link rel="stylesheet" href=" {%static 'style/custom.86cdb688a03d.css' %}" media="all">
</head>

<body>
	<!-- ricesmart navbar -->
	<header id="global-navigation" class="header-global ">
		<div class="top-head"></div>
		<!--my changes add conatiner class here -->
		<div class="conatiner">
			<nav class="wrapper-header" aria-label="Global" style="margin:0 auto">
				<h1 class="logo" style="display:inline-block; float: left;">
					<a href="https://lms-pp.ricesmart.in/">
						<img class="" width="200px" height="200px" src="{% static 'style/logo.22285f727990.webp' %}"
							alt="RICE Smart Home Page">
					</a>
				</h1>
			</nav>
		</div>
	</header>
	<div class="container-fluid maindiv">
		<form action="" method="" style="width:100%">
			<div class="container-fluid">
				<div class="playlist">
					<h3>Playlist</h3>
				</div>
				<hr>
				<!-- For total header form -->
				<div class="row">


					<!-- Column for Labels -->
					<!-- <div class="col">
							<label for="title">Description:</label>
						</div> -->
					<!-- Column for labels and input elements -->
					<!-- <div class="col-md-9 col-sm-12"> -->
					<div class="col-md-9 resp-up">
						<!-- Input for Title -->
						<div class="row my-4">
							<!-- <div class="box1"> -->
							<!-- <div class="title1" style="width:20%;">Title:</div> -->
							<div class="col-3">
								<label for="title">Title:</label>
							</div>
							<div class="col-9">
								<input type="text" name="title" class="shadw border-rela" id="title" required>
							</div>
							<!-- </div> -->
						</div>
						<div class="row my-4">
							<div class="col-3">
								<label for="description">Description:</label>
							</div>
							<div class="col-9">
								<!-- <input type="text" id="title"> -->
								<textarea name="comment" id="pdesc" class="shadw border-rela" rows="7"
									placeholder="Enter details about your playlist..." required></textarea>
								<!-- <input type="text" id="description"> -->
							</div>
							<!-- <div class="col">
									<label for="description">Description</label>
								</div>
								<div class="col-10">
								</div> -->
						</div>
						<!-- <div class="title1" style="width:20%;"><span>Description:</span></div>
							<div class="inp" style="width:80%;"><input type="text" style="height:80px;width:90%;"></div> -->
					</div>
					<!-- Column for buttons -->
					<div class="col-md-3 px-3 py-2">
						<div class="sidebutton btn-group-vertical" style="width:100%">

							<button type="button" class="btn btn-success shadw-b" title="Save" id="submitbn">
								<i class="fa-solid fa-floppy-disk marfont siz-mar"></i>Save</button>

							<button type="button" class="btn btn-primary shadw-b" title="Add"><i
									class="fa-solid fa-circle-plus siz-mar"></i><span>Save and add</span></button>

							<button type="button" class="btn btn-danger shadw-b" title="Cancel"><a href="/"
									style="color:white;"><i
										class="fa-regular fa-circle-xmark marfont siz-mar"></i>Cancel</a></button>
						</div>
					</div>

				</div>
				<div class="row" style="width: 100%;">
					<div class="col-md-3 col-sm-12" style="padding: 0">

					</div>
				</div>
			</div>
			<hr>
			<div class="container-fluid">
				<div class="row">
					<div class="col-12 md-12">
					</div>
				</div>
				<div class="table-wrapper">
					<div class="table-title">
						<div class="row">
							<div class="col-sm-12 col-md-4">
								<h2>Manage videos</h2>
							</div>
							<div class="col-sm-12 col-md-8">
								<a href="#addVideoModal" class="btn btn-success buttonh shadw-v"
									data-toggle="modal"><i class="fa-solid fa-circle-plus"></i><span
										data-toggle="tooltip" data-placement="top" title="Add Video">Add New
										Video</span></a>
								<a href="#deleteEmployeeModal" class="btn btn-danger buttonh shadw-v"
									data-toggle="modal"><i class="fa-solid fa-circle-minus"></i><span
										data-toggle="tooltip" data-placement="top" title="Delete">Delete</span></a>

								<a class="btn btn-success buttonh shadw-v">
									<input type="checkbox" name="select-all" id="select-all" />
									<p data-toggle="tooltip" data-placement="top" title="Select all">Select all</p>
								</a>
							</div>
						</div>
					</div>
					<table id="example" class="table table-responsive-sm table-hover" style="width:100%">
						<!-- <thead>
								<tr>
									<th>
									</th>
								</tr>
							</thead> -->
						<tbody>
							{% comment %} <tr draggable="true" ondragstart="start()" ondragover="dragover()">
								<td>
									<input type="checkbox" name="checkbox-1" id="checkbox-1" class="select" />
								</td>
								<td class="order">1</td>
								<td class="text-nowrap">Video 1</td>
								<td class="text-nowrap">
									<!-- <input type="text" placeholder="Youtube Key"> -->
									<i class="fa-brands fa-youtube"></i>
									<span class="ykey" data-toggle="modal" data-target="#addVideoPlayModal">youtube
										key</span>
								</td>
								<td><i class="fa-solid fa-grip cur-mov"></i></td>
								<td class="last">
									<!-- <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons"
												data-toggle="tooltip" title="Edit">&#xE254;</i></a> -->
									<!-- <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><span class=""
											data-toggle="tooltip" title="Delete">Remove</span></a> -->
									<button href="" class="deleteBtn btn btn-outline-danger shw-del"
										style="border: 1px solid red;" data-toggle="tooltip" data-placement="right"
										title="Remove">Remove</button>
								</td>
							</tr> {% endcomment %}
						</tbody>
					</table>
				</div>
			</div>
		</form>

		<!-- Add Modal HTML -->
		<div id="addVideoModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<form action="" method="post" id="myfrm">
						{% csrf_token %}
						<div class="modal-header">
							<h4 class="modal-title">Add Video</h4>
						</div>
						<div class="modal-body">
							<!-- <div class="form-group">
										<label>Serial Number</label>
										<input name="serialno" type="number" class="form-control" disabled>
									</div> -->
							<div class="form-group">
								<label>Video name</label>
								<input name="videoname" id="vname" type="text" class="form-control" required>
							</div>
							<div class="form-group">
								<label>Youtube Key</label>
								<input name="youtubekey" id="ykey" type="text" class="form-control" required>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="tooltip"
								data-placement="top" title="Cancel">Cancel</button>
							<button type="submit" class="btn btn-success" value="Add" data-toggle="tooltip"
								data-placement="top" title="Submit">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Delete Modal HTML -->
		<div id="deleteEmployeeModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<form>
						<div class="modal-header">
							<h4 class="modal-title">Delete Video</h4>
						</div>
						<div class="modal-body">
							<p>Are you sure you want to delete these Records?</p>
							<p class="text-warning"><small>informations are deleted?</small></p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="tooltip"
								data-placement="top" title="Cancel">Cancel</button>
							<button href="" class="btn btn-danger deleteBtn" onclick="deleteRow();" data-dismiss="modal"
								data-toggle="tooltip" data-placement="top" title="Delete">Delete</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- video play modal -->

		<div id="addVideoPlayModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Watch Video</h4>
					</div>
					<div class="modal-body">
						<!-- <iframe id="cls" width="100%" height="315" src="https://www.youtube.com/embed/25k7Zs_c5FM"
							title="YouTube video player" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe> -->

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="tooltip"
							data-placement="top" title="Cancel">Cancel</button>
					</div>
				</div>
			</div>
		</div>
		<script src="{%static 'js/logicadd.js' %}"></script>
	</div>
</body>

</html>